h1 {
text-align: center;
color: midnightblue;
}

h2 {
    text-align: center;
    color: midnightblue;
}

h3 {
    text-align: center;
    color: midnightblue;
    background-color: rgb(151, 179, 196);
}

h4 {
    text-align: center;
    color: midnightblue;
}

p {
    text-align: center;
    color: midnightblue;
}

figcaption {
    text-align: center;
    color: rgb(167, 202, 224);
}

nav {
    text-align: center;
    color: midnightblue;
    list-style: none;
    width: 50%;
    margin: auto;
    padding-top: 17vh;
}

nav>li {
    text-align: center;
    color: midnightblue;
    display: inline-block;
    border-style:ridge;
    border-color: rgb(79, 112, 112);
    font-size: larger;
    background-color: rgb(151, 179, 196);
}

nav>li>a:hover {
    text-align: center;
    background-color: lightslategrey;
}

body {
    background-color: lightslategrey;
}

.bar{
    background-image: url(Images/test\ bar.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar2{
    background-image: url(Images/graveyard.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar3{
    background-image: url(Images/bar\ 2.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar4{
    background-image: url(Images/bar\ 4.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40%;
    height: 50%;
}

