h1 {
text-align: center;
color: midnightblue;
}

h2 {
    text-align: center;
    color: midnightblue;
}

h3 {
    text-align: center;
    color: midnightblue;
}

h4 {
    text-align: center;
    color: midnightblue;
}

p {
    text-align: center;
    color: midnightblue;
}

figcaption {
    text-align: center;
    color: midnightblue;
}

nav {
    text-align: center;
    color: midnightblue;
    list-style: none;
    width: 50%;
    margin: auto;
    padding-top: 17vh;
}

nav>li {
    text-align: center;
    color: midnightblue;
    display: inline-block;
    border-style:outset;
    border-color: rgb(79, 112, 112);
    font-size: larger;
    background-color: lightslategrey;
}

nav>li>a:hover {
    text-align: center;
    background-color: darkslategrey;
}

body {
    background-color: rgb(127, 143, 143);
}

.bar{
    background-image: url(Images/books.jfif);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar2{
    background-image: url(Images/books.jfif);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar3{
    background-image: url(Images/books.jfif);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}

.bar4{
    background-image: url(Images/books.jfif);
    background-repeat: repeat;
    background-size: cover;
    height: 25vh;

    margin: 0;
    border-radius: 10px;
}